body[data-theme='dark'] {
  background-color: #0f172a;
  color: #f1f5f9;
}

body[data-theme='dark'] .card {
  background-color: #1e293b;
  color: #f1f5f9;
}

body[data-theme='dark'] .dashboard,
body[data-theme='dark'] .home,
body[data-theme='dark'] .navbar,
body[data-theme='dark'] .booking-form,
body[data-theme='dark'] .gallery,
body[data-theme='dark'] .categories,
body[data-theme='dark'] .login-container,
body[data-theme='dark'] .login-card,
body[data-theme='dark'] .register-container,
body[data-theme='dark'] .register-card,
body[data-theme='dark'] .footer
{
  background-color: #1e293b;
  color: #f1f5f9;
}

body[data-theme='dark'] button {
  background-color: #98b3be;
  color: #000;
}
