.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  color: black;
}

.navbar h1 {
  margin: 0;
}

.links a,
.links button {
  margin-left: 15px;
  color: black;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
}

.links button:hover,
.links a:hover {
  text-decoration: underline;
}
